.song-icon {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 1rem;
}

@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.record {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  height: 80%;
  right: -70%;
}

.record.is-playing {
  animation: spin 10s linear 1.5s infinite;
  right: -25%;
  transform: translateY(-50%) rotate(0deg);
  transition: all 1.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.song-sleeve {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  background: url("/img/sleeve.png"), linear-gradient(0deg, #191919, #191919);
  background-size: cover;
  background-position: center center;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 2s ease;
}

.cover.visible {
  opacity: 1;
}
